body {
    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    margin: 0;
    padding: 64px;
}



/* ==========================================================================
   Main
   ========================================================================== */

main {
    height: 70vh;
    box-sizing: border-box;
    position: relative;
}



/* ==========================================================================
   Period
   ========================================================================== */

.period {
    bottom: 32px;
    position: absolute;
    z-index: 1;
    background-color: #ee1c25;
    background-color: rgba(255, 0, 0, .06);
    border: 2px solid rgba(255, 0, 0, .4);
    height: 128px;
    padding: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.period:nth-child(odd) {
    background-color: rgba(255, 0, 0, .08);
}



/* ==========================================================================
   Period Name
   ========================================================================== */

.period-name {
    background-color: inherit;
    background-color: transparent;
    position: relative;
    z-index: 2;
    line-height: 1;
    padding: 12px 0 16px;
    font-size: 1em;
    color: #fff;
    color: #ee1c25;
    color: #000;
    font-weight: bold;
}

.period.short .period-name {
    transform: rotate(-90deg);
}



/* ==========================================================================
   Highlight
   ========================================================================== */

.hightlight {
    background-color: inherit;
    background-color: transparent;
    position: relative;
    z-index: 2;
    line-height: 1;
    padding: 12px 0 16px;
    font-size: 1em;
    color: #fff;
    color: #ee1c25;
    color: #000;
    font-weight: bold;
}



/* ==========================================================================
   x-axis
   ========================================================================== */

.x-axis {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #aaa;
}



/* ==========================================================================
   x-axis label
   ========================================================================== */

.x-axis-year-label {
    position: absolute;
    padding: 4px 0;
    bottom: -32px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    transform: translate(-50px, 0);
    border-radius: 4px;
    color: #333;
}

.x-axis-year-label.zero {
    color: #000;
    font-size: 1.1em;
}



/* ==========================================================================
   x-axis gridline
   ========================================================================== */

.x-axis-year-gridline {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: -4px;
    width: 0px;
    border-right: 1px dashed #aaa;
}

.x-axis-year-gridline.zero {
    border-color: rgba(0, 0, 0, 1);
    border-width: 2px;
}